html {
  box-sizing: border-box;
  font-size: 10px;
  background: #ffc600;
  
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial;
  max-width: 500px;
  margin: auto;
}

h3 {
  font-size: 16px;
  color: #1DB954;
}

p {
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  color: #1DB954;
}

button {
  background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color:#77b55a;
  
  border-radius:11px;
  border:1px solid #4b8f29;
  display:inline-block;
  
  cursor:pointer;
  color:#ffffff;
  
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  
  padding:6px 17px;
  text-decoration:none;
}

button:hover {
  background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  background-color: #72b352;
}

.mole {
  background-color: #964B00;
  border: 5px solid green;

  width: 60px;
  height: 60px;
  border-radius: 100%;

  float: left;
  margin: 10px;
}

.mole.whackable {
  background-color: black;
}

.gameCtrl {
  display: inline-block;
  margin: 10px;
}
